.nav-option {
  display: inline block;
}

a {
  text-decoration: none;
  color: white;
}

mat-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 200px;
  button {
    align-self: flex-end;
  }
  background-color: #274C5B;
  color: white;
}