<mat-list>
  <button mat-icon-button (click)="closeSidenav()">
    <mat-icon>close</mat-icon>
  </button>
  <a mat-list-item routerLink="/">
    <span class="nav-option">Home</span>
  </a>
  <a mat-list-item routerLink="/area">
    <span class="nav-option">Arii</span>
  </a>
  <a mat-list-item routerLink="/challenge">
    <span class="nav-option">Challenge</span>
  </a>
  <a mat-list-item routerLink="/partners">
    <span class="nav-option">Parteneri</span>
  </a>
  <a mat-list-item routerLink="/login">
    <span class="nav-option">Sign in</span>
  </a>
</mat-list>
